.bakgrunnur{
margin: 0;
box-sizing: border-box;
background-image: url('bak.jpg');
height: 100%; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}


header
{
background-color: black;
color: white;
text-align: center;
padding: 3em;
font-size: 2em;
}

section 
{
text-align: center;
width: 60%;
color: white;
float: left;
margin-left: 20em;
}

aside{
display: flex;
padding:10em;
float: left;
margin-left: 20em;
}


footer
{
float: left;
margin-left: 46em;

}


a:link, a:visited {
    background-color: #2c2b32;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 15%;
    text-align: bottom;
}